@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shiki-code-line-highlight-color: hsla(0, 0%, 88%, 0.16);
    --shiki-code-line-diff-remove-color: hsla(350, 90%, 60%, 0.16);
    --shiki-code-line-diff-remove-symbol-color: hsla(0, 45%, 63%);
    --shiki-code-line-diff-add-color: hsla(160, 84%, 40%, 0.16);
    --shiki-code-line-diff-add-symbol-color: hsla(151, 65%, 54%);
    --shiki-code-line-height: 1.7;
  }

  html {
    --header-mouse-background-color: hsla(185, 85%, 80%, 0.3);
    --theme-icon-fill: hsl(220, 13%, 40%);
    --theme-icon-fill-hover: hsl(220, 13%, 30%);
    scroll-behavior: smooth;
    @apply bg-outer-primary-light transition-colors duration-200 ease-in-out text-inner-primary-dark;
  }

  html.dark {
    --header-mouse-background-color: hsla(185, 85%, 80%, 0.08);
    --theme-icon-fill: hsl(210 10% 70%);
    --theme-icon-fill-hover: hsl(210 15% 90%);
    @apply bg-outer-primary-dark text-inner-primary-light;
  }
  
  pre[class*=language-],
  pre[class*=language-] code {
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
  }

  pre[class*=language-] {
    position: relative;
    z-index: 1;
    margin: 0;
    /* padding: 16px 0; */
    background: transparent;
    overflow-x: auto;
  }

  pre[class*=language-] code {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    width: fit-content;
    min-width: 100%;
    line-height: var(--shiki-code-line-height);
    font-size: 0.875em;
  }
  
  pre[class*=language-].shiki code .highlight,
  pre[class*=language-].shiki code .highlighted {
    background-color: var(--shiki-code-line-highlight-color);
    display: inline-block;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 48px);
  }

  pre[class*=language-].shiki code .diff {
    display: inline-block;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 48px);

    &:before {
      position: absolute;
      left: 10px;
    }
  }

  pre[class*=language-].shiki code .diff.remove {
    background-color: var(--shiki-code-line-diff-remove-color);
    opacity: 0.7;

    &:before {
      content: "−";
      color: var(--shiki-code-line-diff-remove-symbol-color);
      display: inline-block;
    }
  }

  pre[class*=language-].shiki code .diff.add {
    background-color: var(--shiki-code-line-diff-add-color);

    &:before {
      content: "+";
      color: var(--shiki-code-line-diff-add-symbol-color);
      display: inline-block;
    }
  }

  ::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    background: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background-color: theme("colors.white");
  }
  
  .dark ::-webkit-scrollbar-track {
    background-color: theme("colors.zinc.900");
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: theme("borderRadius.lg");
    background-color: theme("colors.gray.300");
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme("colors.zinc.400");
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: theme("colors.zinc.500");
  }
  
  .dark ::-webkit-scrollbar-thumb {
    background-color: theme("colors.zinc.700");
  }
  
  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: theme("colors.zinc.600");
  }
  
  .dark ::-webkit-scrollbar-thumb:active {
    background-color: theme("colors.zinc.500");
  }

  input[type="text"]:focus {
    @apply outline-none ring-0;
  }
}

@layer components {
  .main-grid {
    grid-template-columns: 18px 1fr 18px;
    grid-template-areas:
      ". content ."
      "full full full"
      ". wide .";
  }

  @media screen and (min-width: 768px) {
    .main-grid {
      grid-template-columns: [full-start] minmax(3rem, 1fr) [content-start] minmax(0, 64rem) [content-end] minmax(3rem, 1fr) [full-end];
    }
  }
  
  .main-grid > * {
    grid-column: content;
  }
  
  .main-grid > .full-bleed {
    grid-column: full;
  }

  .inner-header-mask {
    @apply relative before:bg-gradient-to-t before:dark:from-gray-900/0 before:from-gray-300/0 before:dark:via-gray-900/40 before:via-gray-300/30 before:dark:to-gray-900/60 before:to-gray-300/60 py-6 before:backdrop-blur-sm before:absolute before:inset-0;
    &::before {
      mask: linear-gradient(to bottom , black calc(100% - 2em), transparent);
    }
  }
}
